/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

.card-content-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 transparent; /* For Firefox */
}

.card-content-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.card-content-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.card-content-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.card-content-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
